<p><%= mail_to comment.email, comment.author, subject: comment.post.title %> said:</p>
<blockquote>
	<%= comment.body %>
</blockquote>
<%= link_to 'Destroy', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
